.pagination-container {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 100px; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1000px;
    height: 80px;
    background-color: #fff;
}

.active {
    background-color: #01bab0;
}
