#findNameInput {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin: 0;
    padding: 10px 14px;
    width: auto;
    background: transparent;
    font: inherit;
}

#findNameInput:focus {
    border-color: #01bab0;
}
